.inputDataContainer {
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 3px solid rgba(68, 68, 68, .5);
  border-radius: 8px 8px 0 0;
  position: relative;
  font-size: 1.2rem;
  margin-top: 3rem;
  height: 55px;
  width: 100%;
}

.inputDataContainer .input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: inherit;
  padding: 0 1.2rem;
  padding-top: 14px;
  height: 100%;
  width: 100%;
}

.inputDataContainer .labelText {
  font-size: inherit;
  position: absolute;
  top: 18px;
  left: 12px;
  transition: all .35s;
}

.inputDataContainer .input:focus + .labelText,
.inputDataContainer .input:not(:placeholder-shown) + .labelText {
  color: #43C553;
  top: 6px;
  font-weight: 600;
}


.inputDataContainer .activeInputBorder {
  background-color: #43C553;
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 0%;
  transition: all .35s;
}

.input:focus + .labelText + .activeInputBorder,
.input:not(:placeholder-shown) + .labelText + .activeInputBorder { width: 100%; }