.homeContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.homeContainer .imageContainer {
  border-radius: 100%;
  font-size: 1.2rem;
  height: 40px;
  width: 40px;
}

.homeContainer .homeBorderContainer {
  background-color: #43C553;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100%;
}

.homeContainer .homeChatContainer {
  background-color: #fff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, .25);
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  display: flex;
  height: 80%;
  width: 80%;
  max-width: 1200px;
  z-index: 2;
  transition: all .35s;
}

.homeChatContainer .homeChatCol:first-child {
  background-color: #fff;
  border-right: 1px solid rgba(0, 0, 0, .25);
  width: 30%;
  min-width: 250px;
  z-index: 2;
}

.homeChatContainer .homeChatCol:last-child {
  display: flex;
  flex-direction: column;
  width: 70%;
  z-index: 1;
}

.homeChatCol:first-child > .headerContainer div {
  border-bottom: 1px solid rgba(0, 0, 0, .25);
  display: flex;
  align-items: center;
}

.headerContainer .headerActionContainer {
  background-color: #43C553;
  color: #fff;
  justify-content: space-between;
  padding: 0 1.2rem;
  height: 50px;
}

.headerActionContainer .icon { color: #fff; }

.headerContainer .headerSearchContainer {
  padding: .8rem 1.2rem;
  height: 60px;
}

.headerSearchContainer .inputSearchContainer {
  background-color: #f2f5f9;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, .25);
  border-radius: .8rem;
  display: flex;
  align-items: center;
  padding: .8rem;
  padding-left: 1.2rem;
  height: 100%;
  width: 100%;
}

.inputSearchContainer .icon {
  font-size: 1.2rem;
  margin-right: .8rem;
}

.inputSearchContainer .input {
  background-color: transparent;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, .25);
  outline: none;
  flex: 1;
  font-size: 1.2rem;
  padding-left: .8rem;
  height: 100%;
}

.homeChatCol .chatListContainer {
  list-style: none;
  overflow-y: auto;
  height: calc(100% - (50px + 60px));
}

@media (max-width: 900px) {
  .homeContainer .homeChatContainer {
    border-radius: 0;
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .homeChatContainer .homeChatCol:first-child {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    transition: all .35s;
  }

  .homeChatContainer .hiddenCol:first-child { left: -100% !important; }
  
  .homeChatContainer .homeChatCol:last-child { 
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%; 
    transition: all .35s;
  }

  .homeChatContainer .hiddenCol:first-child { right: -100% !important; }
}